body {
  background: linear-gradient(45deg, #761f30, #202e77);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.box {
  justify-content: center;
  width: 220px;
  text-align: center;
  background: rgba(18, 119, 178, 0.3);
  padding: 3em;
  height: 340px;
  border-radius: 20px;
  border-left: 1px solid rgba(6, 196, 209, 0.3);
  border-top: 1px solid rgba(11, 110, 137, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(4, 35, 74, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  &:hover{
    margin: 7px;
  }
}
.title {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.input {
  background: transparent;
  width: 184px;
  padding: 1em;
  margin-bottom: 5px;
  border: none;
  border-left: 1px solid rgba(95, 231, 236, 0.3);
  border-top: 1px solid rgba(95, 231, 236, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  &:focus{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
}
.button_case {
  display: flex;
  justify-content: center;
}
.case-1{
  width: 135px;
}
.case-2{
  width: 80px;
  & .btn:last-child{
    width: 80px;
  }
}
.btn {
  margin: 1.2px;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 1.5px;
    border: none;
    border-left: 1px solid rgba(95, 231, 236, 0.3);
    border-top: 1px solid rgba(95, 231, 236, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
  &:hover {
    text-shadow: 2px 2px 6px #00000040;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  &:active {
    text-shadow: none;
  }
}
.btn:nth-child(10){
    width: 80px;
}


.text {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#result {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 3px;
  margin-bottom: 60px;
}
.drop {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
  }
  .drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  .drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  .drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }
  .drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }